@media screen and (min-width: 599px) {
  .me {
    width: 220px;
    height: 260px;
  }
}
@media screen and (max-width: 599px) {
  .me {
    width: 100px;
    height: 100px;
  }
}

.home {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: calc(100vh + 63px);
  z-index: 1000;
}
.greeting {
  pointer-events: none;
  margin: -63px 20px 0 20px;
}
.hide {
  display: none;
}
.me {
  border-radius: 50%;
  border: 0.2rem solid white;
}
.greeting-text {
  margin: 5px;
}
.name {
  color: white;
}
.scroll-down-element {
  display: inline-block;
}
