.contact-header {
  color: black;
}

.outer-wrap {
  margin: auto;
  width: 70%;
  padding-top: 10%;
}

.contact-wrapper {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 40%;
  margin: auto;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contact-btn {
  background-color: rgb(59, 58, 58);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-btn:hover {
  background-color: black;
}

.icon-wrapper {
  margin: auto;
  padding: 20px;
  width: 50%;
}

.icon-bar {
  width: 80%;
  background-color: rgb(59, 58, 58);
  overflow: auto;
  margin: auto;
  border-radius: 4px;
}

.icon-bar a {
  float: left;
  width: 33%;
  text-align: center;
  padding: 10px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 32px;
  margin: auto;
}

.icon-bar a:hover {
  background-color: #000;
}

@media screen and (max-width: 992px) {
  .outer-wrap {
    width: 80%;
    padding-top: 10%;
  }
}

@media screen and (max-width: 775px) {
  .outer-wrap {
    width: 90%;
    padding-top: 10%;
  }
}

@media screen and (max-width: 660px) {
  .outer-wrap {
    width: 100%;
    padding-top: 10%;
  }
}
