.nav__list {
  list-style-type: none;
  margin-top: 1.5rem;
  margin-right: 4rem;
  padding: 0;
  overflow: hidden;
}
.nav__list-item {
  float: right;
  margin-right: 1rem;
  margin-left: 1rem;
}

.link.link--nav {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.app .nav__hamburger {
  display: none;
}

.nav__theme {
  margin-top: 0.4em;
}

.hamburger {
  display: none;
  color: white;
}

@media (max-width: 600px) {
  .nav__list {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  .nav__list-item {
    margin: 0.5em 0;
  }

  .topnav .icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
}
